<div class="nav-wrapper">
    <div class="nav-internal">
        @if (accountService.currentUser()) {
            <a href="">Matches</a>
            <a href="">Lists</a>
            <a href="">Messages</a>
        }
        @if (!accountService.currentUser()) {
            <p>Login to see the Menu</p>
        }
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" type="text" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" type="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>